.section_textos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 100%;
    min-height: 800px;
    background-color: #F5F1EC;
}

@media (min-width: 1200px) {
    .section_textos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
}
.section_textos_article { 
    display: flex;
    flex-direction: column;
}

.section_ul{ 
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section_li {  /*titulo*/
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    
}

.section_li_dos { /*textos*/
    font-family: "Jost", sans-serif;
}

@media (min-width: 1200px) {
    .section_ul {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
}