/*footer*/
.footer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #222730;
}
@media (min-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .article_footer {
        display: flex;
        flex-direction: row;
    }
}

.footer_nombre {
    font-weight: bold;
}
.article_footer  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1200px) {
    .article_footer {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 300px;
    }
}


.footer_paginas p {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_paginas li {
    font-size: 13px;
    cursor: pointer;
}
@media (min-width: 1200px) {
   .footer_paginas li {
    font-size: 15px;
}
}

.footer_sociales p {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_sociales li {
    font-size: 13px;
    cursor: pointer;
}
@media (min-width: 1200px) {
   .footer_sociales li {
    font-size: 15px;
}
}
