/*footer*/
.footer {
    background-color: #f5f1ec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        
    }
    .article_footer {
        display: flex;
        flex-direction: row;
    }
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}
.texto {
    font-size: 12px;
    font-weight: 400;
}
.texto_dos { 
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    margin-top: 2px;
}


.article_footer  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1200px) {
    .article_footer {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 500px;
    }
}


.footer_paginas p {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_paginas li {
    font-size: 13px;
    cursor: pointer;
}
@media (min-width: 1200px) {
   .footer_paginas li {
    font-size: 15px;
}
}

.footer_sociales p {
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_sociales li {
    font-size: 13px;
    cursor: pointer;
}
@media (min-width: 1200px) {
   .footer_sociales li {
    font-size: 15px;
}
}

.footer_areas p {
     font-weight: bold;
    margin-bottom: 15px;
}

.footer_areas li {
    font-size: 13px;
    cursor: pointer;
}
@media (min-width: 1200px) {
   .footer_areas li {
    font-size: 15px;
}
}