/*footer*/
.footer {
    background-color: #272727;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: 1px solid #D2B48C;
}
@media (min-width: 1200px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        
    }
    .article_footer {
        display: flex;
        flex-direction: row;
    }
}

.titulo {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;      
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);
}
.texto {
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #D2B48C;
}
.texto_dos { 
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    margin-top: 2px;
    color: rgb(255, 255, 255);
}


.article_footer  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1200px) {
    .article_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 40px;
        width: 800px;
    }
}


.footer_paginas p {
    font-weight: bold;
    margin-bottom: 15px;
    color: #D2B48C;
    font-family: "Jost", sans-serif;
}

.footer_paginas li {
    font-size: 13px;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
   .footer_paginas li {
    font-size: 15px;
}
}

.footer_sociales p {
    font-weight: bold;
    margin-bottom: 15px;
    color: #D2B48C;
    font-family: "Jost", sans-serif;
}

.footer_sociales li {
    font-size: 13px;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
   .footer_sociales li {
    font-size: 15px;
}
}

.footer_areas p {
    font-weight: bold;
    margin-bottom: 15px;
    color: #D2B48C;
    font-family: "Jost", sans-serif;
}

.footer_areas li {
    font-size: 13px;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
   .footer_areas li {
    font-size: 15px;
}
}