.section_textos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 100%;
    min-height: 800px;
}

@media (min-width: 1200px) {
    .section_textos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      min-height: 500px;
    }
}

/*-------------*/
.section_cita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    width: 100%;
    background-color: #F5F1EC;
}
@media (min-width: 1200px) {
    .section_cita{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      width: 100%;
    }
}

.section_cita_h3 {
    font-size: 25px;
    font-weight: 500;
}
@media (min-width: 1200px) {
    .section_cita_h3 {
    font-size: 28px;
    font-weight: 500;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
}

.section_cita_p {
    color: #D2B48C;
    font-weight: bolder;
}
.section_cita div {
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1200px) {
    .section_cita div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 80%;
    }
}
